/**
 * Page content
 */

.page-image {
	width: 100%;
	height: 450px;
	margin-bottom: $spacing-unit;
	background-size: cover;
	background-position: center;
	background-color: $brand-color;
	// padding-top: 280px;
	.wrapper {
		position: relative;
		height: 100%;
	}
}

.page-content {
	//   padding: $spacing-unit;
	padding-bottom: $spacing-unit * 3;
}

.page-heading {
	@include relative-font-size(1.25);
}
.home-heading {
	font-family: $title-font-family;
	@include relative-font-size(2);
	// color: white;
	font-weight: 100;
	-webkit-font-smoothing: antialiased;
	// margin-bottom: $spacing-unit * 2;
	// text-shadow: 0 0 2px rgba(0,0,0,.5);
}
.post-list-wrap {
	margin-left: 0;
	list-style: none;
	.post-list {
		padding-bottom: $spacing-unit;
		margin-bottom: $spacing-unit;
		border-bottom: 1px solid $grey-color-light;
	}
}

.post-meta {
	-webkit-font-smoothing: antialiased;
	font-size: $small-font-size;
	color: $grey-color;
	// color: $color-white;
}

.post-summary {
	overflow: hidden;
	margin-bottom: $spacing-unit * 1.5;
	word-break: break-all;
}

.post-link {
	display: block;
	font-weight: 600;
	@include relative-font-size(1.5);
	font-family: $title-font-family;
}

.post-tags {}

.post-tag-title {
	color: $color-subtext;
	font-family: $title-font-family;
	// font-style: italic;
	margin-right: 10px;
	// @include relative-font-size(0.9375);
}

.post-tag {
	@extend .post-tag-title;
	@include relative-font-size(0.9375);
	margin-right: 3px;
	font-family: $title-font-family;
	font-style: normal;
	display: inline-block;
	line-height: 1;
}

.post-tag-link {
	@include relative-font-size(0.9375);
	font-family: $title-font-family;
	color: $color-subtext;	
	display: block;
	line-height: 1;
	// font-style: italic;
}

// pagination
.pagination {
	list-style: none;
	margin: 0;
	text-align: center;
	// display: inline-block;
}
.pagination-list {
	display: inline-block;
	text-align: center;
	line-height: 1;
	font-family: $title-font-family;
	font-weight: 600;

	// font-style: italic;
	// width: calc(40% / 5);
	&:last-child {
		float: right;
		text-align: right;
		width: calc(30%);		
		margin-top: 6px;
	}
	&:first-child {
		float: left;
		text-align: left;
		width: calc(30%);
		margin-top: 6px;
	}
}
.pagination-active {
	font-style: italic;
	border-bottom: 1px solid $text-color;
}

.pagination-number {
	margin: 0 10px;
	// padding: 4px;
	// border: 1px solid $text-color;
	// border-radius: 50%; 
}