/**
 * Posts
 */

.post-header {
    // margin-bottom: $spacing-unit;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: $spacing-unit;
}

.post-title {
    @include relative-font-size(2.625);
    letter-spacing: -1px;
    line-height: 1;
    font: $title-font-weight #{$title-font-size}/#{$title-line-height} $title-font-family;
    color: $color-white;
    -webkit-font-smoothing: antialiased;
    margin-bottom: 0;
    text-shadow: 0 0 2px rgba(0,0,0,1);
    word-break: keep-all;

    @include media-query($on-laptop) {
        @include relative-font-size(2.25);
    }
}

.post-description {
    font-weight: 200;
    color: $color-white;
    -webkit-font-smoothing: antialiased;
    margin-bottom: 20px;
}

.post-content {
    margin-bottom: $spacing-unit;
    word-break: keep-all;
    -webkit-font-smoothing: antialiased;
    h2 {
        @include relative-font-size(1.75);
        font-weight: 600;
        border-bottom: 1px solid $grey-color-light;
        padding-top: $spacing-unit;
        padding-bottom: $spacing-unit * 0.5;
        @include media-query($on-laptop) {
            @include relative-font-size(1.75);
        }
    }
    h3 {
        // @include relative-font-size(1.625);
        // @include media-query($on-laptop) {
        //   @include relative-font-size(1.375);
        // }
        @include relative-font-size(1.25);
        font-weight: 600;
        padding-top: $spacing-unit;
        @include media-query($on-laptop) {
            @include relative-font-size(1.125);
        }
    }
    h4 {
        @include relative-font-size(1.25);
        @include media-query($on-laptop) {
            @include relative-font-size(1.125);
        }
    }
    a {
        // transition: all 0.2s ease;
        // background-color: $color-highlight;
        background: linear-gradient(transparent 65%, $color-highlight 66%, $color-highlight 100%);
        padding: 0 5px;
        &:hover {
            background: $color-highlight;
            // background: linear-gradient(transparent 0%, $color-highlight 0%, $color-highlight 100%);
        }
    }
    img {
        //width: 100%;
        margin: $spacing-unit auto;
        display: block;
    }
}

.post-footer {
    padding-top: $spacing-unit * 5;
    @include media-query($on-palm) {
        padding-top: $spacing-unit * 3;
    }
}
.post-footer-nav {
    overflow: hidden;
    padding: 20px 0 30px;
    // font-family: $
    	// font-family: $title-font-family;

    // padding-top: 30px;
    // padding-bottom: 20px;
}

.PageNavigation {
    font-size: 14px;
    display: block;
    width: auto;
    overflow: hidden;
    position: relative;
    a {
        display: block;
        width: 33.33%;
        float: left;
        margin: 1em 0;
    }
    .next {
        text-align: right;
    }
    .list {
        text-align: center;
        //float: none;
        //position: absolute;

    }
}

.PageNavigation a {

}

.PageNavigation .next {

}