<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title | escape }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li>
            {% if site.author %}
              {{ site.author | escape }}
            {% else %}
              {{ site.title | escape }}
            {% endif %}
            </li>
            {% if site.email %}
            <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
            {% endif %}
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
          {% if site.github_username %}
          <li>
            {% include icon-github.html username=site.github_username %}
          </li>
          {% endif %}

          {% if site.twitter_username %}
          <li>
            {% include icon-twitter.html username=site.twitter_username %}
          </li>
          {% endif %}
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <p>{{ site.description | escape }}</p>
      </div>
    </div>

  </div>

</footer>


<script>
    var $sidebar   = document.getElementById("site_header"), 
        // $window    = window.document,
        offset     = 250,
        topPadding = 130;
        // height = $("#scheduleBox").height();
        // height = document.getElementById("site_header").offsetHeight;
		// window.onscroll
    window.onscroll = function(e) {
		// console.log(e);
		var scrollTop = (window.pageYOffset !== undefined) ? window.pageYOffset : (document.documentElement || document.body.parentNode || document.body).scrollTop;
		// console.log(scrollTop)
        if (scrollTop > offset) {
        // console.log(height);
        // console.log(offset)
        // console.log(offset.bottom)
            // $sidebar.stop().animate({
            //     // marginTop: $window.scrollTop() - offset.top + topPadding
			// 	$sidebar.
            // });
			// $sidebar.className += " "
			$sidebar.classList.remove("site-header-dark");
        } else {
			$sidebar.classList.add("site-header-dark");
            // $sidebar.stop().animate({
            //     // marginTop: 0
            // });
        }
    };
     //   if ($(window).width() > 470) {
    // }

</script>